%footer.footer
  .content.has-text-centered
    %p
      %strong OmniBNK Coding Challenge
      by
      = succeed "." do
        %a{:href => "https://github.com/01speed1"} Oscar Guman
      Desarrollador Web Ruby - 
      2019